@font-face {
  font-family: AnonymousPro;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/AnonymousPro.ttf');
}
@font-face {
  font-family: Consolas;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Consolas.ttf');
}
@font-face {
  font-family: CourierNew;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/CourierNew.ttf');
}
@font-face {
  font-family: DejaVuSansMono;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/DejaVuSansMono.ttf');
}
@font-face {
  font-family: DroidSansMono;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/DroidSansMono.ttf');
}
@font-face {
  font-family: Inconsolata;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Inconsolata.ttf');
}
@font-face {
  font-family: Monaco;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Monaco.ttf');
}
@font-face {
  font-family: Monofur;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Monofur.ttf');
}
@font-face {
  font-family: ProFont;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/ProFont.ttf');
}
@font-face {
  font-family: ProggyClean;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/ProggyClean.ttf');
}
